@model IEnumerable<Student>;

<h1> Student List </h1>
<table>
    <tr>
        <td>Name</td>
        <td>Course</td>
        <td>Admission Date</td>
        <td>Email</td>
        <td>GPA</td>
        <td>Details</td>
    </tr>

    @foreach (var Student in Model)
    {
        <tr>
            <td>@Student.StudentFirstName @Student.StudentLastName</td>
            <td>@Student.Course</td>
            <td>@Student.DateEnrolled</td>
            <td>@Student.Email</td>
            <td>@Student.GPA</td>
            <td><a asp-action="ShowDetail" asp-route-id="@Student.StudentId">Show Details</a></td>
        </tr>
    }

</table>

<a class="btn btn-primary" asp-action="AddStudent">Add Student</a>
